.center {
    display: flex;
    justify-content: center;
}

.bg-blanco {
    background-image: url(https://github.com/mifokko/webMifokko/blob/master/src/assets/FondoBlanco.jpg?raw=true);
    background-size: cover;
    background-position: center;
}
//---------------------------------------------------------------------------------------------
// Tipografia
//---------------------------------------------------------------------------------------------
.titulo {
    font-family: 'Geometos';
    color: #444242;
  }
  
  @font-face {
    font-family: 'Geometos';
    src: url(/src/app/fonts/Geometos.ttf) format('truetype');  
  }
  