<!--Panel de planes empresa-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">PLANES</h5>
          <button type="button" class="btn-close" (click)="modal.close()"></button>
        </div>
        <div class="modal-body">
  
          <!--Plan empresarial oro-->
          <div>
            <h5>EMPRESARIAL ORO</h5>
            <div class="row center">
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño" (click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $220.000
                  <br>UNICO PAGO ANUAL
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño" (click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $88.000
                  <br>3 PAGOS MENSUALES
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño" (click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $48.000
                  <br>6 PAGOS MENSUALES
                </button>
              </div>
            </div>
          </div>
          <!--Plan empresarial plata-->
          <div>
            <h5>EMPRESARIAL PLATA</h5>
            <div class="row center">
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño" (click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $170.000
                  <br>UNICO PAGO ANUAL
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño"(click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $68.000
                  <br>3 PAGOS MENSUALES
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-primary tamaño" (click)="modal.close()" (click)="openRegisterEmpresa()">VALOR $37.000
                  <br>6 PAGOS MENSUALES
                </button>
              </div>
            </div>
          </div>
        </div>