.tamaño {
  font-size: 11px;
}

.center {
  display: flex;
  justify-content: center;
}

//---------------------------------------------------------------------------------------------
// Tipografia
//---------------------------------------------------------------------------------------------
.titulo {
  font-family: 'Geometos';
  color: #444242;
}

@font-face {
  font-family: 'Geometos';
  src: url(/src/app/fonts/Geometos.ttf) format('truetype');  
}
