<div class="modal-body" style="text-align: justify;">
    <button type="button" class="btn-close" (click)="modal.close()"></button>
    <h4 class="center">Beneficios web</h4>
    <ul>
        <li>
            Somos un aplicativo web, con mejor y más fácil acceso.
        </li>
        <li>
            Tenemos centro de atención virtual para ayudarte a encontrar una solución.
        </li>
        <li>
            Somos una Comunidad que busca el Crecimiento de los independientes y empresarios, con ayudas de convenios comerciales.
        </li>
        <li>
            El cliente mismo puede acceder a su información, modificar sus datos de manera rápida y fácil.
        </li>
        <li>
            El Cliente puede subir por sí mismo sus promociones. 
        </li>
        <li>
            Nuestros planes son los más económicos del mercado.
        </li>
        <li>
            Contamos con un módulo de Ofertas.
        </li>
    </ul>
</div>
