<section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center; width: 100%; height: 100%;">
<div class="container">
    <br>
    <h1 class="tamaño">Mis ofertas publicadas</h1>
    <label >Elige Año y Mes</label>
    <div class="row p-1">
        <div class="form-group col-md-2 m-1">
            <select id="inputState" class="form-control" aria-placeholder="Año" [(ngModel)]="anio">
            <option [value]="items" *ngFor="let items of years">{{items}}</option>
            </select>
        </div>
        <div class="form-group col-md-2 m-1">
            <select name="mes" id="mes" class="form-control" [(ngModel)]="meses" (change)="capturar()">
                <option [value]="item" *ngFor="let item of lista">{{item}}</option>
            </select>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">Estadistica</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ofert of ofertas; let i index">
            <th scope="row">{{ofert.fechaInicio.day}}/{{ofert.fechaInicio.month}}/{{ofert.fechaInicio.year}}</th>
            <td class="btn-link" (click)="verPagina(ofert.id)" >{{ofert.nombreOferta}}</td>
            <td>{{ofert.estado}}</td>
            <td class="btn-link" (click)="verEstadisticas(ofert.id)">Ver</td>
        </tr>
        </tbody>
    </table>
    <!-- Spinner-->
    <div id="spinner" style="display: none;">
        <div class="text-center">
            Loading...
            <br>
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br>
</section>