<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
</div>
<div class="modal-body">
    <!-- Pago con Wompi -->
    <form action="https://checkout.wompi.co/p/" method="GET" target="_blank">
        <input type="hidden" name="public-key" value="pub_test_pxMGkJMTgaNDNQFwQu6Dq1FoB6u2VN9a" />
        <input type="hidden" name="currency" value="COP" />
        <input type="hidden" name="amount-in-cents" value="{{pago*100}}" />
        <input type="hidden" name="reference" value="{{referencia}}" />
        <input type="hidden" name="redirect-url" value="https://www.mifokko.com" />
        <button class="btn btn-primary rounded waynox" type="submit"> Paga con <strong>Wompi</strong></button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" (click)="modal.close()">Close</button>