<section class="bg-blanco">
  <img src="./assets/FondoBlanco.jpg" class="img-fluid" id="Responsive image"
    style="position: absolute; right: 0; top: 0; left: 0; z-index: -100;">
  <div class="container-fluid mb-2">
    <div class="form-group row col-xs-3 col-sm-4 col-md-4 my-2 float-end mb-4">
      <div class="input-group rounded">
        <input type="search" class="form-control form-control rounded-pill icon_placeholder" placeholder="Search"
          aria-label="Search" aria-describedby="search-addon" />
      </div>
    </div>
  </div>
  <br>

  <!-- Busqueda empresas -->
<section #empresas *ngIf="seleccion === 'empresa'">
  <div class="container mt-5">
    <div class="row">
      <div class="row col-lg-4 col-md-4 col-sx p-2" *ngFor="let buscar of busquedaE">
        <div class="row ">
          <div class="my-2 img1">
            <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
              *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilEmpresa(buscar.id)" />
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
              class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" (click)="verPerfilEmpresa(buscar.id)"/>
          </div>
          <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
            <h5 (click)="verPerfilEmpresa(buscar.id)">{{buscar.nombre}}</h5>
            <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.actividadPrincipal}}</b></p>
            <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Busqueda independientes -->
<section #independiente *ngIf="seleccion === 'independiente'">
  <div class="container mt-5">
    <div class="row">
      <div class="row col-lg-4 col-md-4 col-sx p-2" *ngFor="let buscar of busquedaI">
        <div class="row ">
          <div class="my-2 img2">
            <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
              *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilIndep(buscar.id)" />
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
              class="rounded-circle img2" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" (click)="verPerfilIndep(buscar.id)"/>
          </div>
          <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
            <h5 (click)="verPerfilIndep(buscar.id)">{{buscar.nombre}}</h5>
            <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.profesion}}</b></p>
            <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Busqueda ofertas -->
  <section #ofertas *ngIf="seleccion === 'ofertas'">
    <div class="container mt-5">
      <div class="row">
        <div class="row col-lg-4 col-md-4 col-sx p-2" *ngFor="let buscar of busquedaO">
          <div class="row ">
            <div class="my-2 img3">
              <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilOferta(buscar.uid, buscar.id)" />
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="rounded-circle img3" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" (click)="verPerfilOferta(buscar.uid, buscar.id)"/>
            </div>
            <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
              <h5 (click)="verPerfilOferta(buscar.uid, buscar.id)">{{buscar.nombreOferta}}</h5>
              <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.alcance}}</b></p>
              <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Busqueda por empresa, independiente y ofertas -->
  <section #todos *ngIf="seleccion === 'todos'">
    <div class="container mt-5">
      <div class="row">
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group" *ngFor="let buscar of busquedaE">
              <div class="row ">
                <div class="my-2 img1">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilEmpresa(buscar.id)" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
                  <h5 (click)="verPerfilEmpresa(buscar.id)">{{buscar.nombre}}</h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.actividadPrincipal}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group" *ngFor="let buscar of busquedaI">
              <div class="row ">
                <div class="my-2 img2">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img2" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilIndep(buscar.id)" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center">
                  <h5 (click)="verPerfilIndep(buscar.id)">{{buscar.nombre}}</h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.profesion}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group" *ngFor="let buscar of busquedaO">
              <div class="row">
                <div class="my-2 img3">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img3" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined" (click)="verPerfilOferta(buscar.uid, buscar.id)" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center">
                  <h5 (click)="verPerfilOferta(buscar.uid, buscar.id)">{{buscar.nombreOferta}}</h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.alcance}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


</section>