<section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center;">
  <img src="./assets/FondoBlanco.jpg" class="img-fluid" id="Responsive image"
    style="position: absolute; right: 0; top: 0; left: 0; z-index: -100;">
  <!-- Palabra con la cual se esta haciendo la busqueda  -->
  <div class="row">
    <div class="m-3">
      <h3 style="position: absolute; z-index: -100; margin-left: 3%;">Estas buscando en: {{opcionBusqueda}}</h3>
    </div>
    <div class="container-fluid mt-2">
      <!-- input de busqueda -->
      <form action="">
        <div class="form-group row col-xs-3 col-sm-4 col-md-4 my-2 float-end">
          <div class="input-group rounded">
            <input type="search" class="form-control form-control rounded-pill icon_placeholder" placeholder="Search"
              aria-label="Search" aria-describedby="search-addon" [(ngModel)]="palabra"
              (keypress)="getBuscar(seleccion, palabra.toLowerCase())" name="palabra" />
          </div>
        </div>
      </form>
    </div>
  </div>
  
  <br>

  <!-- Busqueda empresas -->
  <section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center;" #empresas *ngIf="seleccion === 'empresa'">
    <div class="container mt-2 p-1">
      <!-- Spinner -->
      <div class="d-flex justify-content-center">
        <div *ngIf="resultados === false" class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- respuesta de busqueda por empresa - Estructura -->
      <div class="row">
        <div class="row col-lg-4 col-md-4 col-sx p-2"
          *ngFor="let buscar of resultadosE | paginate: { itemsPerPage: 9, currentPage: page }">
          <div class="row ">
            <div class="my-2 img1">
              <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                *ngIf="buscar.fotoPerfil !== undefined"
                (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')" />
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')" />
            </div>
            <div class="col align-items-center justify-content-center text-center" style="margin-left: -10px;">
              <h5 (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')">{{buscar.nombre}}</h5>
              <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.actividadPrincipal}}</b></p>
              <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Busqueda independientes -->
  <section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center;" #independiente *ngIf="seleccion === 'independiente'">
    <div class="container mt-2">
      <!-- Spinner -->
      <div *ngIf="resultados === false" class="d-flex justify-content-center">
        <div class="spinner-border text-warning" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- respuesta de busqueda por independiente - Estructura -->
      <div class="row">
        <div class="row col-lg-4 col-md-4 col-sx p-2"
          *ngFor="let buscar of resultadosI | paginate: { itemsPerPage: 9, currentPage: page }">
          <div class="row ">
            <div class="my-2 img2">
              <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                *ngIf="buscar.fotoPerfil !== undefined"
                (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')" />
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="rounded-circle img2" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')" />
            </div>
            <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
              <h5 (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')">{{buscar.nombre}}
              </h5>
              <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.profesion}}</b></p>
              <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Busqueda ofertas -->
  <section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center;" #ofertas *ngIf="seleccion === 'ofertas'">
    <div class="container mt-2">
      <!-- Spinner -->
      <div *ngIf="resultados === false" class="d-flex justify-content-center">
        <div class="spinner-border text-danger" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- respuesta de busqueda por ofertas - Estructura -->
      <div class="row">
        <div class="row col-lg-4 col-md-4 col-sx p-2"
          *ngFor="let buscar of resultadosO | paginate: { itemsPerPage: 9, currentPage: page }">
          <div class="row ">
            <div class="my-2 img3">
              <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                *ngIf="buscar.fotoPerfil !== undefined"
                (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)" />
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="rounded-circle img3" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)" />
            </div>
            <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
              <h5
                (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)">
                {{buscar.nombreOferta}}</h5>
              <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.alcance}}</b></p>
              <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Busqueda por empresa, independiente y ofertas -->
  <section [ngStyle]="{'background-image': 'url(assets/FondoBlanco.jpg)'}" style="background-size: cover; background-position: center;" #todos *ngIf="seleccion === 'todos'">
    <div class="container mt-5">
      <!-- Spinner -->
    <div *ngIf="resultados === false" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
      <div class="row">
        <!-- Empresa -->
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group"
              *ngFor="let buscar of resultadosE | paginate: { itemsPerPage: 3, currentPage: page }">
              <div class="row ">
                <div class="my-2 img1">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img1" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined"
                    (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                    (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center" style="margin-left: -10px;">
                  <h5 (click)="verPerfilEmpresa(buscar.id); saveEstadistica(buscar.id, 'Empresas')">{{buscar.nombre}}
                  </h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.actividadPrincipal}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Independiente -->
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group"
              *ngFor="let buscar of resultadosI | paginate: { itemsPerPage: 3, currentPage: page }">
              <div class="row ">
                <div class="my-2 img2">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img2" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined"
                    (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                    (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center">
                  <h5 (click)="verPerfilIndep(buscar.id); saveEstadistica(buscar.id, 'Independiente')">{{buscar.nombre}}
                  </h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.profesion}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Ofertas -->
        <div class="row col-lg-4 col-md-4 col-sx p-2">
          <ul class="list-group list-group-flush">
            <li class="list-group"
              *ngFor="let buscar of resultadosO | paginate: { itemsPerPage: 3, currentPage: page }">
              <div class="row">
                <div class="my-2 img3">
                  <img [src]="buscar.fotoPerfil" class="rounded-circle img3" alt="" loading="lazy"
                    *ngIf="buscar.fotoPerfil !== undefined"
                    (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)" />
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                    class="rounded-circle img1" alt="" loading="lazy" *ngIf="buscar.fotoPerfil === undefined"
                    (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)" />
                </div>
                <div class="col mt-2 align-items-center justify-content-center text-center">
                  <h5
                    (click)="verPerfilOferta(buscar.uid, buscar.id); saveEstadisticaOferta(buscar.uid, buscar.id, buscar.path)">
                    {{buscar.nombreOferta}}</h5>
                  <p style="margin-top: -10px;"> <b style="color: darkgray;">{{buscar.alcance}}</b></p>
                  <p style="margin-top: -20px;"> <b>{{buscar.ciudad}}</b></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <pagination-controls class="center" (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
  </pagination-controls>

</section>