<div class="modal-body">
    <div>
        <p class="text-center">Para recuperar el acceso, debe ingresar el correo de verificación y dar clic en Recuperar Contraseña,
            le llegara un correo indicando los pasos a seguir.
        </p>
        <form action="/examples/actions/confirmation.php" method="post">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control rounded" name="Correo" placeholder="Correo" [(ngModel)]="user.correo">
                </div>
            </div>
            <button type="submit" class="btn btn-dark m-2 center" (click)="recuperar()" (click)="modal.close()">Recuperar</button>
            <button type="submit" class="btn btn-dark m-2" (click)="openLogin()" (click)="modal.close()">Volver</button>
        </form>
    </div>
</div>
