.tamaño {
  font-size: 11px;
}

#padre {
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block; /* para que solo ocupe el ancho de la imagen */
}

.center {
    display: flex;
    justify-content: center;
}

.icon_placeholder {
  padding: 0.25rem 0.6rem;
  text-align: center;  
}

.imageTam{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 25%;
  height: 25%;
  position: relative;
}

.contenido p{
  text-align: justify;
  font-family: 'Open Sans';
  src: url(/src/app/fonts/OpenSans-VariableFont_wdth\,wght.ttf) format('truetype');
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}

.titulo {
  font-family: 'Geometos';
  color: #444242;
}

@font-face {
  font-family: 'Geometos';
  src: url(/src/app/fonts/Geometos.ttf) format('truetype');  
}