
<body>
    <form class="row justify-content-center aling-items-center">
      <div class="form-group row col-sm-9 p-2">
        <h2 class="text-center">QUE BUSCAS?</h2>
        <div class="input-group rounded">
          <input type="search" class="form-control form-control-lg rounded-pill" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <span class="input-group-text border-0" id="search-addon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </span>
        </div>
      </div>
      <fieldset class="form-group ">
        <div class="row justify-content-center aling-items-center">
          <div class="col-sm-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                INDEPENDIENTES
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                EMPRESAS
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
              <label class="form-check-label" for="gridRadios3">
                OFERTAS
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option4">
              <label class="form-check-label" for="gridRadios4">
                TODOS
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="container-fluid col-md-3 p-2">
        <div class="form-group rounded">
          <label for="exampleDataList" class="form-label center">ELIGE TU CIUDAD</label>
          <input type="search" class="form-control form-control rounded-pill" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="search" class="btn btn-primary btn-block rounded-pill col-sm-12 my-2">Buscar</button>
        </div>   
      </div>
      <div class="container my-4">
        <div class="row">
          <div class="col-lg-4 fondo" id="padre">
            <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2015/01/08/18/11/laptops-593296_960_720.jpg" width="250">
            <div class="card-title">EMPRESA</div>
          </div>
          <div class="col-lg-4 fondo" id="padre">
            <img class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2020/04/02/22/05/home-office-4996834_960_720.jpg" width="250">
            <div class="card-title1">INDEPENDIENTE</div>
          </div>
          <div class="col-lg-4 fondo" id="padre">
            <img  class="img-fluid rounded" src="https://cdn.pixabay.com/photo/2018/05/18/15/30/web-design-3411373_960_720.jpg" width="250">
            <div class="card-title2">GENERAL</div>
          </div>
        </div>
      </div>  
    </form>