.bg-primary {
    background-image: url(https://github.com/mifokko/webMifokko/blob/master/src/assets/FondoAmarillo.jpg?raw=true);
    background-size: cover;
    background-position: center;
  }

  .bg-blanco {
    background-image: url(https://github.com/mifokko/webMifokko/blob/master/src/assets/FondoBlanco.jpg?raw=true);
    background-size: cover;
    background-position: center;
  }

.texto {
    text-align: justify;
    font-size: 17px;
}
  