<section class="bg-primary" id="titulo">

    <div class="container">
        <br>
        <h1 class="mt-1 titulo" style="color: aliceblue; font-size: 30px;"> <b> TÉRMINOS Y CONDICIONES / POLÍTICA DE
                PRIVACIDAD </b></h1>
        <br>
    </div>
</section>

<section class="bg-blanco">
    <div class="container terminos" style=" width: 80%; text-align: justify;">
        <br>
        <p>
            LOS ACUERDOS LEGALES EXPUESTOS A CONTINUACIÓN RIGEN EL USO QUE USTED HAGA DE LA APLICACIÓN / PLATAFORMA Y DE
            LOS SERVICIOS QUE SE DERIVEN DE LA MISMA. PARA ACEPTAR ESTOS TÉRMINOS, HAGA CLIC EN “I AGREE” (“ACEPTO”). SI
            USTED NO ACEPTA ESTOS TÉRMINOS, NO HAGA CLIC EN “I AGREE” (“ACEPTO”) Y NO UTILICE LOS SERVICIOS Y ELIMINE LA
            APLICACIÓN / PLATAFORMA DE SU TELEFONO.
        </p>
        <h4>ACERCA DE MIFOKKO</h4>
        <p class="texto">
            El APP / MIFOKKO, desarrollada por GOLDTECH S.A.S., para ANDRY GIRALDO la cual es responsable de todos los
            términos y condiciones legales.
            En esta es una aplicación en la cual se pueden ofertar los servicios y productos de las diferentes empresas
            e independientes que quieran ser partícipes en la plataforma.
        </p>
        <h4>DISPONIBILIDAD DEL CONTENIDO</h4>
        <p>
            MIFOKKO se reserva el derecho de cambiar las opciones de contenido de cada app (inclusive los criterios de
            elegibilidad para aplicaciones específicas) sin previo aviso.
        </p>
        <h4>PROPIEDAD INTELECTUAL</h4>
        <p>
            Usted acepta que la tienda, inclusive entre otros, gráficos, interfaces de usuario, clips de audio, clips de
            video, contenido editorial y los guiones y software utilizados para la puesta en marcha de LA APP/ MIFOKKO,
            contienen información y material confidencial que es propiedad de LA APP/ MIFOKKO y que ANDRY GIRALDO provee
            a través de su infraestructura y/o sus licenciantes y que se encuentra protegido por las leyes aplicables de
            propiedad intelectual y demás aplicables, inclusive entre otros, el derecho de autor. Usted acepta que no
            utilizará esa información o material confidencial de ninguna forma excepto para utilizar LA APP/ MIFOKKO de
            acuerdo con este Contrato. Ninguna parte de LA APP/ MIFOKKO puede reproducirse de ningún modo o por ningún
            medio, excepto según se autorice expresamente en los presentes términos. Usted acepta no modificar, rentar,
            arrendar, prestar, vender, distribuir o crear trabajos derivados basados en LA APP, de ninguna manera, y
            usted no explotará LA APP/ MIFOKKO de ninguna manera no autorizada, incluyendo de manera enunciativa, más no
            limitativa, mediante la trasgresión o la sobrecarga de la capacidad de la red. Los comentarios que usted
            haga mediante LA APP/ MIFOKKO son de única responsabilidad y LA APP/ MIFOKKO no tendrá ningún tipo de
            responsabilidad por los comentarios que se hagan mediante la APP/ MIFOKKO. El lenguaje y uso que usted
            utilice a través de la APP/ MIFOKKO deberán estar enmarcados dentro del sano lenguaje y las buenas
            costumbres. Sin perjuicio de cualquier otra disposición establecida en este Contrato, MIFOKKO y sus
            licenciantes se reservan el derecho de cambiar, suspender, eliminar, o desactivar el acceso a cualquier
            Producto de la APP/ MIFOKKO, contenido, u otro material que incluya una parte de la APP/ MIFOKKO en
            cualquier momento sin aviso. En ningún caso MIFOKKO será responsable por hacer estos cambios. MIFOKKO
            también puede imponer límites al uso de determinadas aplicaciones o porciones de LA APP/ MIFOKKO en
            cualquier caso y sin aviso ni responsabilidad alguna.
        </p>
        <h4>LIMITACIÓN DE LA RESPONSABILIDAD</h4>
        <p>
            Con toda la extensión permitida por la ley aplicable, LA APP/ MIFOKKO no asume responsabilidad contractual o
            extracontractual alguna de los daños y perjuicios directos, indirectos, incidentales, especiales o
            emergentes (incluso si LA APP/ MIFOKKO hubiera sido advertido de la posibilidad de los mismos) que traigan
            causa del: (i) uso o de la imposibilidad de usar el servicio; (ii) del coste incurrido para la obtención de
            bienes y servicios sustitutivos, o de cualesquiera bienes comprados u obtenidos o información o mensajes
            recibidos u operaciones concertadas en, a través o desde el servicio; (iii) del acceso no autorizado ó
            alteración de sus transmisiones de datos; (iv) declaraciones de conducta de terceros a través del servicio.
            El usuario acuerda además que LA APP/ MIFOKKO no será responsable de ningún daño o perjuicio derivado de la
            interrupción, suspensión o terminación del servicio, incluyendo, pero no limitándose, a daños, lucro
            cesante, uso, datos u otros bienes intangibles, o perjuicios directos, indirectos, incidentales, especiales,
            consecuentes, o ejemplares, ya sea que tal interrupción, suspensión o terminación sea justificada o no,
            negligente o intencional, advertida o inadvertida.
        </p>
        <h4>INTEGRACIÓN</h4>
        <p>
            Los links de redes sociales como Facebook®, Instagram®, YouTube®, Twitter® en esta aplicación pueden mostrar
            contenido que no está bajo el control de la app MIFOKKO.
            Los links – Urls solo conllevan a sitios que el propietario de cada marca – tienda solicita para el
            funcionamiento de información y/o compra de productos y servicios. Por tanto, los terceros como clientes y/o
            usuarios, y/o empleados, y/o socios de éstas han de cumplir con las leyes aplicables y a las normas de la
            plataforma MIFOKKO, en donde la plataforma MIFOKKO no tiene control sobre la naturaleza y el contenido de
            esos sitios, como tampoco estaría recomendando el que accedan a sus contenidos como contenidos y/o usos, y/o
            servicios que hacen parte de la información de terceros.
            MIFOKKO no acepta responsabilidad alguna sobre esto sea de manera implícita o explícita de los sitios.
            Usted debe verificar las secciones de términos y/o condiciones, política legal y de privacidad de cada sitio
            y/o aplicación que estén dentro de MIFOKKO o de un tercero con los cuales se enlaza.
            MIFOKKO no asume ninguna responsabilidad por pérdida directa, indirecta o consecuencial y/o por el uso de un
            sitio de un tercero.
            MIFOKKO ni su desarrollador se responsabilizan por el uso de los datos de los usuarios y/o clientes que se
            registren ante las Apps.
        </p>
        <h4>TERMINACIÓN</h4>
        <p>
            Si usted incumple cualquiera de las disposiciones de este Contrato, MIFOKKO, según lo permita la ley, podrá:
            (i) terminar este Contrato y/o su Cuenta, y usted seguirá siendo responsable por todos los montos debidos en
            virtud de su Cuenta inclusive hasta la fecha de Terminación; y/o (ii) terminar la licencia del software; y/o
            (iii) impedir el acceso a la APP/ MIFOKKO (o a cualquier de sus partes). MIFOKKO se reserva el derecho de
            modificar, suspender, o interrumpir el Servicio de LA APP/ MIFOKKO (o cualquiera de sus partes o contenido)
            en cualquier momento con o sin previo aviso a usted, y MIFOKKO no será responsable frente a usted o
            cualquier tercero que ejerciera esos derechos.
        </p>
        <h4>EXCLUSIÓN DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD</h4>
        <ul>
            <li>
                LA APP/ MIFOKKO suministrará los Servicios con el cuidado y profesionalismo razonable. MIFOKKO no asume
                responsabilidades y garantías adicionales en relación con el Servicio de LA APP/ MIFOKKO, y en
                particular, no garantiza que el uso que usted haga de la LA APP/ MIFOKKO se mantenga ininterrumpido o
                libre de errores. Usted acepta que ocasionalmente, pueda suspender LA APP/ MIFOKKO por períodos
                indefinidos de tiempo, o cancelar el Servicio en cualquier momento por razones técnicas u operacionales,
                y que, de ser posible, lo notificará de esta decisión.
            </li>
            <br>
            <li>
                El Servicio de la LA APP/ MIFOKKO estará exento de pérdidas, corrupción, ataques, virus, interferencia o
                cualquier intromisión en la seguridad, los cuales serán considerados como eventos de Fuerza Mayor, y
                sobre los cuales MIFOKKO no será responsable. – Excepto lo mencionado en este contrato, en ningún caso,
                MIFOKKO o sus licenciantes serán responsables por cualquier pérdida o daño causado por MIFOKKO, o sus
                licenciantes, y cuando:
                <ul>
                    <li>
                        No haya un incumplimiento de un deber legal a cargo de MIFOKKO o de sus empleados o agentes.
                    </li> <br>
                    <li>
                        Si el resultado del incumplimiento no es razonablemente previsible.
                    </li> <br>
                    <li>
                        Exista un aumento de la pérdida o daño como resultado de un incumplimiento de su parte a las
                        obligaciones previstas en este contrato.
                    </li> <br>
                    <li>
                        Sea el resultado de una decisión de MIFOKKO de remover o negarse a procesar cualquier
                        información o contenido, para advertirle, suspender o cancelar su acceso a LA APP/ MIFOKKO, o
                        para adoptar cualquier otra medida durante la investigación de un supuesto incumplimiento o como
                        resultado de las conclusiones de MIFOKKO del incumplimiento de este contrato.
                    </li> <br>
                    <li>
                        Se refiera a una pérdida de ingresos, negocios o utilidades, o cualquier pérdida o contaminación
                        de información relacionada con su uso del Servicio de LA APP/ MIFOKKO. MIFOKKO hará esfuerzos
                        razonables por proteger la información enviada por usted en relación con los Servicios de LA
                        APP/ MIFOKKO, pero usted reconoce y acepta que el envío de dicha información se hace a su
                        exclusivo riesgo, y MIFOKKO niega por el presente toda y cualquier responsabilidad frente a
                        usted por cualquier pérdida u obligación relacionada con dicha información en cualquier forma.
                        Ninguna disposición en este Contrato elimina o limita la responsabilidad de MIFOKKO por el
                        fraude, o por la muerte o lesión corporal en que se haya incurrido por su negligencia.
                    </li>
                </ul>
            </li>
        </ul>
        <h4>RENUNCIA E INDEMNIZACIÓN</h4>
        <p>
            AL UTILIZAR EL SERVICIO DE LA APP/ MIFOKKO, USTED ACEPTA, AL GRADO PERMITIDO POR LEY, INDEMNIZAR Y MANTENER
            INDEMNE A MIFOKKO, SUS DIRECTORES, EJECUTIVOS, EMPLEADOS, AFILIADOS, AGENTES, PROVEEDORES Y LICENCIATARIOS,
            CON RESPECTO A CUALQUIER RECLAMO DERIVADO DEL INCUMPLIMIENTO DE ESTE CONTRATO, EL USO QUE USTED HAGA DEL
            SERVICIO, O CUALQUIER MEDIDA TOMADA POR MIFOKKO COMO PARTE DE SU INVESTIGACIÓN RESPECTO DE UNA POSIBLE
            VIOLACIÓN DE ESTE CONTRATO O DERIVADO DE LA CONCLUSIÓN O DECISIÓN DE MIFOKKO EN EL SENTIDO DE QUE HUBO UNA
            VIOLACIÓN DE ESTE CONTRATO. ESTO SIGNIFICA QUE USTED NO PODRÁ DEMANDAR O PEDIR COMPENSACIÓN POR NINGÚN DAÑO
            POR PARTE DE MIFOKKO, SUS DIRECTORES, FUNCIONARIOS, EMPLEADOS, AFILIADOS, AGENTES, PROVEEDORES Y
            LICENCIATARIOS, DERIVADO DE LA DECISIÓN DE MIFOKKO DE ELIMINAR O NEGAR EL PROCESAMIENTO DE CUALQUIER
            INFORMACIÓN O CONTENIDO, DE ADVERTIRLE, SUSPENDER O INTERRUMPIR SU ACCESO AL SERVICIO, O DE TOMAR CUALQUIERA
            OTRA MEDIDA DURANTE LA INVESTIGACIÓN DE UNA POSIBLE VIOLACIÓN O COMO RESULTADO DE LA DECISIÓN DE MIFOKKO EN
            EL SENTIDO DE QUE HUBO UNA VIOLACIÓN DE ESTE CONTRATO. ESTA DISPOSICIÓN DE RENUNCIA E INDEMNIDAD SE APLICA A
            TODAS LAS VIOLACIONES DESCRIPTAS O CONTEMPLADAS EN ESTE CONTRATO. MODIFICACIONES MIFOKKO se reserva el
            derecho de modificar este Contrato en cualquier momento e imponer términos o condiciones nuevas o
            adicionales al uso que usted haga del Servicio de LA APP/ MIFOKKO. Esas modificaciones, términos y
            condiciones adicionales entrarán en vigencia inmediatamente y formarán parte de este Contrato. Su uso
            continuado de los Servicios se entenderá como una aceptación de aquellos términos o condiciones nuevas o
            adicionales.
        </p>
        <h4>NEGOCIACIONES CON ANUNCIANTES</h4>
        <p>
            El usuario acuerda que cualquier negociación o participación en promociones de anunciantes disponibles en el
            servicio, incluyendo el pago y la entrega de bienes y servicios, u otros términos, garantías o
            manifestaciones en relación con tales relaciones, se realizará exclusivamente entre usuario y respectivo
            anunciante. LA APP/ MIFOKKO no tendrá ninguna responsabilidad con relación al usuario o tercero, ya sea
            contractual, extracontractual u otra, o cualquier daño o perjuicio de cualquier tipo que se incurra como
            resultado de dichas relaciones o como consecuencia de la presencia de tales anunciantes en el servicio.
        </p>
        <h4>INFORMACIÓN CONFIDENCIAL Y PERMISOS DEL APP</h4>
        <p>
            LA APP/ MIFOKKO solicitara permisos para habilitar diferentes funciones en la app, estas funciones están
            diseñadas para mejorar la experiencia e interacción con la información de productos o servicios.
            El usuario está en libertad de aceptar o no el permiso a estas funciones entre las cuales se encuentran en
            FIREBASE DE GOOGLE, acceso a cámara, micrófono, ubicación, contactos, entre otros.
            El acceso a estas funciones es solo para uso de la app y la información que sea procesada por la tienda no
            será compartida con terceros según la cláusula de Habeas Data.
        </p>
        <h4>INDEMNIZACIÓN</h4>
        <p>
            Usted se obliga a indemnizar y a eximir a MIFOKKO /LA APP, sus filiales, representantes, agentes, socios y
            empleados, de cualquier pérdida, daño, queja, reclamos o demandas, incluidos los honorarios de abogado y
            procurador, de terceros, o incurridos o sufridos por LA APP/ MIFOKKO en relación con o provenientes de
            cualquier uso o transmisión de información a través del servicio, que ocurra bajo la contraseña o cuenta del
            usuario y que viole los términos del servicio, cualquier ley o reglamento local, nacional o internacional
            aplicable o bien, derechos de terceros.
        </p>
        <h4>PROHIBICIÓN DE REVENDER EL SERVICIO</h4>
        <p>
            Usted se obliga a no reproducir, duplicar, copiar, vender, revender o explotar para fines comerciales,
            cualquier sección del servicio, uso o acceso al mismo.
        </p>
        <h4>LINKS (VÍNCULOS)</h4>
        <p>
            Tanto el servicio como terceros podrán proporcionar vínculos a otros sitios o recursos de la red mundial.
            Debido a que LA APP/ MIFOKKO no tiene control alguno sobre dichos sitios o recursos, usted reconoce y acepta
            que LA APP no será responsable por la disponibilidad de los sitios o recursos externos ni por cualquier
            contenido, publicidad, productos, servicios u otro tipo de material contenido ó a disposición en tales
            sitios o recursos. El usuario reconoce y acepta que LA APP/ MIFOKKO no será responsable, directa o
            indirectamente, por cualquier daño o perjuicio causado o que se presuma que sea causado por tales
            contenidos, productos o servicios disponibles en dichos sitios o recursos externos, o por la utilización o
            confianza depositada por el usuario en tales contenidos, productos o servicios.
        </p>
        <h4>DERECHOS DE PROPIEDAD</h4>
        <p>
            Usted reconoce y acepta que el servicio y cualquier software usado en relación con el servicio (“Software”)
            contiene información confidencial y de propiedad ajena protegida por la legislación de propiedad intelectual
            y otras disposiciones legales. Además, usted reconoce y acepta que el contenido incluyendo, pero no
            limitándose, textos, programas, canciones, sonidos, fotografías, gráficos, videos u otros materiales
            contenidos en propagandas disponibles en el servicio, así como también informaciones divulgadas al usuario a
            través del servicio o de anunciantes, está protegido por derechos de autor, marcas comerciales, patentes y
            otros derechos de propiedad intelectual y legislación aplicable Usted se obliga a no acceder al Servicio por
            otros medios que no sean a través de la interface que LA APP/ MIFOKKO proporciona para acceder al Servicio.
        </p>
        <h4>FORMA DE PAGO Y MODIFICACIÓN DE TARIFAS</h4>
        <p>
            LA APP/ MIFOKKO permitirá a sus usuarios pagar su tarifa por medio la plataforma de pago WOMPI; de manera
            física en los puntos autorizados por la empresa. LA APP/ MIFOKKO realizara de forma anual el incremento de
            las tarifas asociadas a los planes y servicios prestados, este aumento será comunicado a los clientes y se
            aplicara en la siguiente factura posterior a la recepción de la comunicación.
        </p>
        <h4>HABEAS DATA</h4>
        <p>
            Todos los datos personales de tiendas, usuarios y transacciones serán almacenados por MIFOKKO en sistemas
            seguros, el usuario acepta que la información entregada en cualquiera de las interacciones con la plataforma
            MIFOKKO, podrá ser utilizada solo para fines de comunicación o promoción del servicio o de la tienda
            adscrita.
        </p>
        <h4>GARANTÍA LIMITADA</h4>
        <ol type="A">
            <li class="mb-2">
                El uso del servicio será bajo exclusivo riesgo y responsabilidad del usuario. El servicio
                suministrado depende de la funcionalidad de varios factores, como la interacción de servidores y
                servicios de telecomunicaciones de terceros, la adecuación de los equipos de usuario y destinatario del
                mensaje. Considerando tales factores, MIFOKKO /LA APP empleará sus mejores esfuerzos para que los
                mensajes de e-mail enviados a través del servicio, sean recibidos por el destinatario correcto y sin
                interferencias. Sin embargo, por estas mismas razones, LA APP/ MIFOKKO no puede garantizar que los
                mensajes serán entregados al destinatario correcto, en un plazo adecuado, o no sufrirán extravío,
                divulgación o violación por partes de terceros no autorizados, como por ejemplos “hackers”. Se aconseja
                al usuario no confiar exclusivamente en el servicio para enviar informaciones importantes o
                confidenciales y LA APP/ MIFOKKO no se responsabilizará por ninguna falla resultante del envío de
                mensajes por parte del usuario.
            </li>
            <li class="mb-2">
                LA APP/ MIFOKKO no ofrece garantías de cualquier naturaleza con relación al servicio, ya sean
                expresas o implícitas, incluyendo, pero no limitándose a las garantías implícitas de comercialización,
                idoneidad para un propósito particular.
            </li>
            <li class="mb-2">
                LA APP/ MIFOKKO no garantiza que el servicio cumplirá con los requisitos y/o necesidades del usuario, o
                que el servicio se prestará de manera ininterrumpida, segura o libre de error.
            </li>
            <li class="mb-2">
                LA APP/ MIFOKKO tampoco otorga ninguna garantía en cuanto a los resultados que se puedan obtener del uso
                del servicio o en relación con la exactitud o confiabilidad de cualquier información obtenida a través
                del servicio, ni que los defectos en los programas serán corregidos.
            </li>
            <li class="mb-2">
                LA APP/ MIFOKKO no otorga ninguna garantía en relación con bienes o servicios comprados u obtenidos a
                través del servicio, o cualquier operación realizada a través del mismo.
            </li>
            <li class="mb-2">
                Ninguna asesoría o información, ya sea oral o por escrito obtenida por el usuario de LA APP/ MIFOKKO a
                través del servicio dará origen a ninguna garantía que no sea expresamente especificada en el presente
                acuerdo.
            </li>
            <li class="mb-2">
                El usuario reconoce y acuerda que cualquier material y/o información obtenida a través del servicio o de
                su utilización, estará sujeta a su entero criterio y riesgo; y que será el único responsable de
                cualquier daño ocurrido en su computadora o pérdida de datos que pueda resultar de recibir tal material.
            </li>
        </ol>
        <h4>CONDUCTA DEL USUARIO</h4>
        <p>
            El usuario acepta que toda la información, datos, textos, software, música, sonido, fotografías, gráficos,
            vídeos, mensajes u otro material, ya sea públicamente enviado, u objeto de transmisiones personales
            (“Contenido”), serán de la exclusiva responsabilidad de la persona donde dicho Contenido se haya originado.
            Esto significa que el usuario, y no LA APP/ MIFOKKO, es plenamente responsable de todo el Contenido que
            ponga a disposición de los demás, exhiba, envíe por e-mail o de cualquier manera transmita. LA APP/ MIFOKKO
            no ejerce control sobre el Contenido enviado a través del Servicio y, así, no puede garantizar la precisión,
            integridad o calidad de dicho Contenido. El usuario entiende que, al utilizar el Servicio, es susceptible de
            visualizar Contenidos que puedan considerarse ofensivos, indecentes o inaceptables. LA APP/ MIFOKKO no
            asumirá responsabilidad alguna, bajo ninguna circunstancia, por el Contenido, incluyendo, sin limitación,
            errores u omisiones en el Contenido, daños o perjuicios derivados del uso del Contenido exhibido, enviado
            por e-mail o, de cualquier modo, transmitido a través del Servicio. El usuario se obliga a no utilizar el
            Servicio con el fin de: a. Poner a disposición de los demás, enviar por e-mail o, de cualquier modo,
            transmitir Contenidos ilegales, dañinos, molestos, amenazadores, abusivos, tortuosos, difamatorios,
            vulgares, obscenos, invasores de la intimidad de terceros, odiosos, xenófobos, racistas o, de algún modo,
            inaceptables; b. Perjudicar a menores, de manera alguna; c. Hacerse pasar o fingir ser cualquier otra
            persona o entidad, incluyendo, sin limitación, un representante de LA APP/ MIFOKKO, fundador, guía o
            anfitrión de fórums, o de cualquier otro modo mentir o fingir sobre su relación con cualquier otra persona o
            afiliación a cualquier entidad; d. Falsificar rúbricas o, de otro modo manipular identificativos con el fin
            de disfrazar la naturaleza del Contenido transmitido a través del Servicio; e. Poner a disposición de los
            demás usuarios, enviar por e-mail o, de algún modo transmitir, cualquier Contenido que, de acuerdo con las
            disposiciones aplicables o relaciones contractuales existentes, Usted no está autorizado a transmitir (tales
            como información privilegiada, información protegida por derechos de propiedad industrial o intelectual o
            información sobre la cual tiene un deber de confidencialidad). f. Poner a disposición de los demás usuarios,
            enviar por e-mail o, de algún modo, transmitir Contenido alguno susceptible de infringir patentes, marcas,
            secretos comerciales, derechos de autor u otros derechos de terceros (“Derechos”); g. Poner a disposición de
            los demás usuarios, enviar por e-mail o, de algún modo, transmitir publicidad no solicitada o autorizada,
            material publicitario, “correo basura”, “cartas en cadena”, “estructuras piramidales”, o cualquier otra
            forma de solicitud, excepto en aquellas áreas (tales como espacios comerciales) que hayan sido
            exclusivamente concebidos para ello; h. Poner a disposición de los demás usuarios, enviar por e-mail o, de
            algún modo, transmitir material alguno que sea portador de virus o cualquier otro código informático,
            archivos o programas diseñados para interrumpir, destruir o limitar el funcionamiento de cualquier software,
            hardware o equipo de telecomunicaciones; i. Interrumpir el curso normal de las conversaciones, provocar que
            la pantalla del ordenador adquiera mayor velocidad de la normal con la que los usuarios pueden participar en
            el Servicio, o de algún modo actuar de manera que afecte de forma negativa a la posibilidad de comunicarse
            en tiempo real; j. Interferir o interrumpir el Servicio, servidores o redes conectados al Servicio, o
            incumplir los requisitos, procedimientos y regulaciones de la política de redes conectadas al Servicio; k.
            Violar con/sin intención cualquier ley aplicable, ya sea local, de las Comunidades Autónomas, nacional o
            internacional, incluidas, sin limitación, las disposiciones reguladoras de los mercados de valores. l.
            “Acechar” o de algún modo hostigar a terceros; o l. Recoger o almacenar información personal sobre otros
            usuarios. El usuario reconoce y acepta que LA APP/ MIFOKKO no examina los Contenidos con anterioridad a su
            puesta en disposición o transmisión, pero éste y sus representantes estarán facultados (pero no obligados) a
            rechazar o desplazar cualquier Contenido que esté disponible en el Servicio. Sin perjuicio de lo anterior,
            LA APP/ MIFOKKO y sus representantes estarán plenamente facultados para suprimir cualquier Contenido que
            vulnere las Condiciones o que de algún modo sea inaceptable. Usted se obliga a evaluar los Contenidos y
            asume todos los riesgos derivados de los mismos o del uso de cualquier Contenido, incluyendo la fiabilidad,
            utilidad y la finalidad de tal Contenido. A estos efectos, Usted reconoce y acepta que LA APP/ MIFOKKO no
            está garantizando la fiabilidad de cualquier Contenido creado o disponible en LA APP/ MIFOKKO. El usuario
            reconoce y acepta que LA APP/ MIFOKKO puede conservar o revelar el Contenido si es requerido para ello en
            virtud de las disposiciones legales aplicables o, de buena fe, lo considerara necesario para: (a) Dar
            cumplimiento a la ley o a procedimientos legales, tales como órdenes judiciales o de órganos administrativos
            competentes; (b) Hacer cumplir las presentes Condiciones; (c) Contestar reclamaciones relativas a
            violaciones de derechos de terceros; o (d) Proteger los legítimos intereses de LA APP/ MIFOKKO, sus usuarios
            y el público en general. Usted entiende y acepta que el proceso técnico y transmisión del Servicio, incluido
            su Contenido, puede implicar: (a) Transmisiones a través de diversas redes; y (b) Modificaciones o cambios
            realizados al objeto de compatibilizar el Contenido con las necesidades técnicas de conexión de redes o
            dispositivos.
        </p>
        <h4>DEBERES DEL USUARIO</h4>
        <p>Al ingresar al Aplicativo Usted deberá cumplir con los siguientes deberes:</p>
        <ul>
            <li>
                Observar los Términos y Condiciones y cualquier otra condición establecida en este Aplicativo.
            </li>
            <li>
                No difamar, abusar, acosar, amenazar o violar cualquier libertad pública o derecho civil o humano ni
                cualquier otro derecho de propiedad, privacidad y/o publicidad de los demás usuarios o de terceros.
            </li>
            <li>
                No usar este Aplicativo como medio para desarrollar actividades ilegales o no autorizadas tanto en
                Colombia, como en cualquier otro país.
            </li>
            <li>
                Ser responsable por cualquier actividad que se lleve a cabo bajo su cuenta de usuario.
            </li>
            <li>
                No abusar, acosar, amenazar o intimidar a los usuarios LA APP/ MIFOKKO por cualquier medio.
            </li>
            <li>
                Ser el único responsable por su conducta y por el contenido de textos, gráficos, fotos, videos o
                cualquier otro tipo de información de la cual haga uso o incluya en LA APP/ MIFOKKO.
            </li>
            <li>
                Utilizar LA APP/ MIFOKKO única y exclusivamente para uso personal. Cualquier uso para beneficio
                corporativo o colectivo o con intereses lucrativos está prohibido.
            </li>
            <li>
                No suplantar la identidad de ningún tercero, ni utilizar nombres de usuarios vulgares u ofensivos.
            </li>
            <li>
                Abstenerse de enviar correo electrónico no deseado o SPAM a otros usuarios de LA APP/ MIFOKKO, así como
                virus o cualquier código de naturaleza destructiva.
            </li>
            <li>
                Así mismo, comprometerse plenamente a no ingresar comentarios, imágenes, mensajes, opiniones,
                información, o similares, de contenido difamatorio, abusivo, contrario a la moral y las buenas
                costumbres, discriminatorio, ofensivo, obsceno, intimidatorio, calumnioso, inapropiado, ilegal,
                violatorio de derechos de terceros de cualquier índole, incluidos los derechos de los menores de edad,
                que cause daños y/o perjuicios, constituya un delito o apología a un delito y/o incite a la violencia
                y/o a la comisión de delitos.
            </li>
            <li>
                Denunciar cualquier violación a los Términos y Condiciones por parte de los Usuarios o terceros de la
                que tenga conocimiento, para lo cual remitirá un e – mail a la dirección de correo electrónico
                servicioalcliente@mifokko.com a fin de que tome las medidas que estén a su alcance a tal efecto.
            </li>
            <li>
                Si usted es menor de edad de acuerdo con la legislación colombiana, obtener el consentimiento de sus
                padres o representantes legales para vincularse a y enviar contenidos al Aplicativo.
            </li>
            <li>
                No alojar en LA APP/ MIFOKKO ningún material o contenido que sea violatorio de la ley, o sea considerado
                como profano, indecente, pornográfico o de naturaleza similar, incluyéndose pero no limitándose a
                textos, gráficos, video, programas o audio.
            </li>
            <li>
                No cargar en LA APP/ MIFOKKO programas de computación o cualquier otro material protegido por las leyes
                de propiedad intelectual a menos que el propietario de dichos derechos lo haya autorizado.
            </li>
            <li>
                No cargar en LA APP/ MIFOKKO archivos contentivos de virus, o cualquier otro archivo o programa de
                computación que afecte la programación de otros computadores o de LA APP/ MIFOKKO.
            </li>
            <li>
                El servicio ofrecido en las comunidades es para uso personal del Usuario y puede ser utilizado con fines
                comerciales, por lo cual cualquier tipo de publicidad que el Usuario pretenda alojar en LA APP/ MIFOKKO
                será bajo su entera responsabilidad.
            </li>
            <li>
                Usted igualmente se compromete a no publicar material que atente contra derechos de menores de edad
                regulados en legislaciones especiales, en especial pornografía infantil.
            </li>
        </ul>
        <h4>OBLIGACIONES DE LA APP/ MIFOKKO</h4>
        <p>
            LA APP/ MIFOKKO verificar que la información suministrada por cada uno de los usuarios sea veraz, por lo
            cual esta deberá consultar sus antecedentes judiciales.
        </p>
        <h4>INFORMACIÓN RECOPILADA Y SU UTILIZACIÓN</h4>
        <p>
            A continuación, se enuncian los diferentes tipos de datos que podremos recolectar en LA APP/ MIFOKKO, los
            cuales serán, en términos generales, utilizados para mejorar su experiencia dentro de LA APP/ MIFOKKO y
            enriquecer la experiencia interactiva del mismo. Los términos de uso de estos datos serán enunciados
            posteriormente. Datos Personales. En LA APP/ MIFOKKO Usted puede llevar a cabo diferentes actividades, que
            incluyen, pero no se limitan a tales como registrarse en nuestro portal, agregar información de empresas,
            compartir datos de empresas a través de las redes sociales, actualizar sus datos de en las redes sociales
            con información de nuestro portal, y enviar mensajes de texto, a través de las cuales posiblemente podamos
            obtener varias formas de datos personales. Algunos ejemplos de los tipos de datos personales que podríamos
            recolectar son:
        </p>
        <ul>
            <li>
                Nombre.
            </li>
            <li>
                Domicilio.
            </li>
            <li>
                Dirección de correo electrónico.
            </li>
            <li>
                Número de teléfono fijo o celular
            </li>
            <li>
                Información sobre su interés en o uso de varios productos, programas y servicios.
            </li>
            <li>
                La ubicación actual de los Usuarios.
            </li>
        </ul>
        <p>
            Podremos utilizar tales datos personales para atender solicitudes de los diferentes servicios que ofrezcamos
            en el mercado, responder consultas, comunicarnos con Usted, atender pedidos, ofrecerle nuevos productos o
            servicios que creemos que pueden ser de su interés o, eventualmente, para exigir el cumplimiento de los
            presentes Términos y Condiciones, así como de la Ley en relación con el uso que Usted haga de LA APP/
            MIFOKKO y/o para los fines específicos para los cuales Usted haya suministrado dichos datos personales.
            Términos de Utilización de la Información Recolectada. La información recolectada será guardada y protegida
            conforme a las políticas de utilización y los límites que la Ley establezca. Aun tomando las medidas
            apropiadas de protección contra la divulgación no autorizada de la información que se recopile, LA APP/
            MIFOKKO no puede garantizar que nunca se divulgará de manera contraria a lo establecido en estas políticas
            de privacidad y LA APP/ MIFOKKO no garantiza que no vayan a acceder a la misma sin su consentimiento. LA
            APP/ MIFOKKO no se responsabiliza por cualquier consecuencia derivada del ingreso indebido de terceros a la
            base de datos y/o por alguna falla técnica en el funcionamiento y/o conservación de datos en el sistema en
            cualquiera de los capítulos de LA APP/ MIFOKKO, tampoco garantiza que terceros no autorizados no puedan
            tener conocimiento de la clase, condiciones, características y circunstancias del uso que los Usuarios hacen
            de LA APP/ MIFOKKO. A continuación, se enuncian los principales casos en los cuales LA APP/ MIFOKKO podría
            hacer uso de la información recolectada en LA APP/ MIFOKKO:
        </p>
        <ul>
            <li>
                En respuesta a solicitudes judiciales.
            </li>
            <li>
                Cuando sea necesario para investigar, prevenir o tomar acciones frente a actividades ilícitas que
                eventualmente sean detectadas.
            </li>
            <li>
                Cuando se detecten violaciones a los Términos y Condiciones, con el fin de verificar o exigir el
                cumplimiento de las políticas que rigen LA APP/ MIFOKKO y/o la Ley.
            </li>
            <li>
                Si LA APP/ MIFOKKO o una de sus unidades de negocio es adquirida por, vendida o se fusiona con otra
                entidad.
            </li>
            <li>
                Divulgar información personal a terceros cuyas prácticas no estén cubiertas por estas políticas de
                privacidad (por ejemplo, otros comercializadores, editores de revistas, comerciantes minoristas, bases
                de datos participativas y organizaciones sin fines de lucro) y que deseen ofrecerle productos y
                servicios a los Usuarios.
            </li>
            <li>
                Con el objeto de proporcionar información adicional y más relevante a quienes visitan LA APP/ MIFOKKO
                sobre oportunidades de productos y servicios, LA APP/ MIFOKKO podrá compartir con terceros los datos
                no-personales enunciados.
            </li>
        </ul>
        <h4>POLITICA DE TRATAMIENTO DE DATOS PERSONALES</h4>
        <p>
            LA APP/ MIFOKKO, en cumplimiento de la Ley 1581 de 2012 y demás normas concordantes, es responsable del
            tratamiento de sus datos personales.
            Sus Derechos como titular de la Información son: A) Conocer, actualizar, suprimir, revocar y rectificar sus
            datos personales. Este derecho se podrá ejercer, entre otros, frente a datos parciales, inexactos,
            incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o
            no haya sido autorizado. B) Solicitar prueba de la autorización de Tratamiento otorgada. C) Ser informado
            respecto del uso que LA APP/ MIFOKKO le ha dado a sus datos personales. D) Presentar ante la
            Superintendencia de Industria y Comercio y la Superintendencia Financiera, quejas por infracciones a lo
            dispuesto en la ley y las demás normas que la modifiquen, adicionen o complementen. E) Acceder en forma
            gratuita a sus datos personales que hayan sido objeto de Tratamiento.
            Datos LA APP/ MIFOKKO: a) Dirección: Carrera 25 # 29-24 , b) Correo electrónico:
            servicioalcliente@mifokko.com , c) Teléfono: 3135824488 (Tuluá), d) www.mifokko.com (sitios web
            relacionados)Canales a través de los cuales puede ejercer derechos: el Titular podrá utilizar el sistema de
            correspondencia de LA APP/ MIFOKKO, mediante correo electrónico a la dirección servicioalcliente@mifokko.com
            o a través de atención personalizada en la Carrera 25 # 29-24 , de lunes a viernes en horario de 8:00 a.m. a
            6:00 p.m. Área Responsable de atención de peticiones, consultas y reclamos: Al interior de la entidad, la
            recepción de peticiones, consultas y reclamos se canaliza a través de los Centros de Información de LA APP/
            MIFOKKO – en los canales indicados en el numeral 4) de este comunicado.
            Procedimientos para conocimiento, actualización, supresión, revocación y rectificación: usted como titular
            podrá solicitar a través de los canales de contacto nombrados anteriormente, la actualización, supresión,
            revocación y rectificación de la información y/o efectuar consultas o reclamos relacionados con su
            información.
            LA APP/ MIFOKKO validará su identificación, analizará, clasificará y emitirá la respuesta su solicitud en
            los tiempos establecidos en la ley, será enviada a través del medio por el cual se recibe la solicitud o por
            el medio que el cliente especifique su comunicación. La supresión de datos personales y/o revocación de
            autorización para tratamiento de la información no procederá cuando el titular tenga un deber legal o
            contractual de permanecer en la base de datos. Dichos requerimientos serán tramitados siempre y cuando
            cumplan con los siguientes requisitos: La solicitud deberá ser dirigida al responsable o Encargado del
            tratamiento deberá contar con la identificación del titular, su causahabiente, representante o mandatario
            habrá de contener la descripción de los hechos que dan lugar a su petición datos de notificación documentos
            y hechos soporte de su petición. En caso que el requerimiento resulte incompleto en cuanto a sus requisitos,
            el solicitante será requerido para que dentro de los cinco (5) días siguientes a la recepción del
            requerimiento subsane sus omisiones. Transcurridos dos (2) meses desde la fecha en que el solicitante fue
            requerido para subsanar su petición sin obtener la información requerida, se entenderá que ha desistido del
            reclamo.
            Una vez admitido un trámite, este deberá ser calificado como “solicitud en trámite”.
            El término máximo para atender un reclamo será de quince (15) días hábiles contados a partir del día
            siguiente a la fecha de su recibo.
            Si no fuere posible responder algún requerimiento en razón de su complejidad, se informará al solicitante el
            motivo por el cual no es posible responder dentro del término fijado por la Ley de Datos Personales. Cuando
            se notifique sobre la imposibilidad de responder en el término inicialmente señalado, deberá informársele al
            solicitante la fecha en la que se responderá su requerimiento, la cual en ningún caso podrá superar los ocho
            (8) días hábiles siguientes al vencimiento del primer término.
        </p>
        <h4>POLÍTICAS DE MIFOKKO O LA APP FRENTE AL TRATAMIENTO DE DATOS PERSONALES:</h4>
        <p>
            Cumplir con el tratamiento de los datos personales de los titulares dentro de los parámetros establecidos
            por la Constitución y la Ley. <br>
            Obtener la autorización expresa de los titulares en medios físicos, electrónicos y/o telefónicos que permita
            su posterior consulta a fin de constatar de forma inequívoca que sin el consentimiento del titular los datos
            nunca hubieran sido capturados y almacenados en medios electrónicos o físicos. Así mismo se podrá obtener
            por medio de conductas claras e inequívocas del Titular que permitan concluir de una manera razonable que
            este otorgó su consentimiento para el manejo de sus datos personales. <br>
            Garantizar la confidencialidad, integridad y disponibilidad de los datos personales por parte del
            responsable y los encargados. <br>
            Los datos personales solo serán tratados por aquellos colaboradores que lo requieran en función de las
            actividades propias de su cargo o por los Encargados; a estos últimos se les suministrará la información
            requerida para el cumplimiento de las obligaciones contractuales. <br>
            Los funcionarios deberán garantizar la reserva de la información durante la vigencia del contrato y con
            posterioridad a la terminación del mismo. <br>
            Realizar el tratamiento de los datos personales acorde con los fines autorizados por los titulares.
            No divulgar datos personales en Internet u otro medio masivo de comunicación, a menos que se trate de
            información pública o información requerida por ley. <br>
            La información de datos personales de los titulares será custodiada de acuerdo al tiempo definido en las
            tablas de retención documental. <br>
            Actualizar la información, comunicando de forma oportuna a cualquier tercero autorizado (Encargado del
            Tratamiento), todas las novedades respecto de los datos que previamente le haya suministrado y adoptar las
            demás medidas necesarias para que la información suministrada a éste se mantenga actualizada. <br>
            Rectificar la información cuando sea incorrecta y comunicar lo pertinente a cualquier tercero autorizado
            (Encargado del Tratamiento). <br>
            Tramitar las consultas y reclamos formulados por los Titulares en los términos señalados en la ley. Se
            informará si es del caso al Encargado para su gestión. <br>
            A solicitud del titular y cuando no tenga ningún deber legal o contractual de permanecer en las bases de
            datos, la información del titular deberá ser eliminada. <br>
            Conservar la información bajo las condiciones de seguridad necesarias para impedir su adulteración, pérdida,
            consulta, uso o acceso no autorizado o fraudulento. <br>
            La entidad aplicará las medidas de seguridad idóneas para el tratamiento de información clasificada como
            sensible en la cual se contempla entre otras, los datos personales de los hijos de los empleados.
            Propender por el fortalecimiento de una cultura corporativa que abogue por y salvaguarde los derechos de los
            titulares, mediante jornadas de capacitación. <br>
            Garantizar al Titular, en todo tiempo, el pleno y efectivo ejercicio del derecho de hábeas data.
            Informar debidamente al Titular sobre la finalidad de la recolección y los derechos que le asisten por
            virtud de la autorización otorgada. <br>
            Garantizar que la información que se suministre a cualquier tercero autorizado, dentro de los parámetros
            establecidos en la ley, sea veraz, completa, exacta, actualizada, comprobable y comprensible.
            La entidad podrá intercambiar información de datos personales con entidades públicas cuando la soliciten en
            ejercicio de sus funciones para temas relacionados con impuestos, investigaciones y procesos judiciales
            entre otros. <br>
            Las políticas establecidas podrán ser modificadas en cualquier momento. Las modificaciones darán
            cumplimiento a la normatividad legal vigente, y entrarán en vigencia a partir de su publicación en los
            medios dispuestos para que sean de conocimiento de los titulares. <br>
            Se prohíbe la transferencia de información de datos personales de cualquier tipo a países que no
            proporcionen niveles adecuados de protección de datos
            Los administradores internos de las bases de datos personales deberán reportar la información de las bases
            de datos que administren e informarán las novedades al área designada como Oficial de Protección de Datos
            Personales. Igualmente, deberán reportar las nuevas bases de datos que se constituyan. <br>
            Registrar y reportar las novedades de las bases de datos en el Registro Nacional de Base de Datos – RNBD, en
            cumplimiento a lo establecido en la normativa legal vigente. <br>
            La entidad publicará el aviso de privacidad en la página web www.mifokko.com.
            De acuerdo a lo anterior; El Usuario ha leído y acepta expresamente los Términos y Condiciones, siendo
            condición esencial para la utilización de la aplicación. En el evento en que se encuentre en desacuerdo con
            estos Términos y Condiciones, solicitamos abandonar la aplicación inmediatamente.

        </p>
    </div>
</section>