<!--Panel de planes independiente-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">PLANES</h5>
          <button type="button" class="btn-close" (click)="modal.close()"></button>
        </div>
        <div class="modal-body">
  
          <!--Plan independientes oro-->
          <div>
            <h5>INDEPENDIENTE ORO</h5>
            <div class="row center">
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-warning tamaño" (click)="modal.close()" (click)="openRegisterIndependiente()" (click)="btnEnviarHijo('100000')">VALOR $100.000
                  <br>UNICO PAGO ANUAL
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-warning tamaño"(click)="modal.close()" (click)="openRegisterIndependiente()">VALOR $40.000
                  <br>3 PAGOS MENSUALES
                </button>
              </div>
            </div>
          </div>
          <!--Plan indeoendientes plata-->
          <div>
            <h5>INDEPENDIENTE PLATA</h5>
            <div class="row center">
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-warning tamaño" (click)="modal.close()" (click)="openRegisterIndependiente()" value="">VALOR $70.000
                  <br>UNICO PAGO ANUAL
                </button>
              </div>
              <div class="col-xs-2 col-sm-8 col-md-4 col-lg-4 p-2" >
                <button class="btn btn-warning tamaño" (click)="modal.close()" (click)="openRegisterIndependiente()">VALOR $28.000
                  <br>3 PAGOS MENSUALES
                </button>
              </div>
            </div>
          </div>
        </div>