<div class="modal-body">
    <button type="button" class="btn-close" (click)="modal.close()"></button>
    <h4 class="center">Información</h4>
    <div class="container center">
        <p class="mt-3">
            Celular: +57 313 5824488 <br>
            Correo: servicioalcliente@mifokko.com <br>
            WhatsApp: +57 313 5824488 <br>
            Facebook: Mifokko <br>
            Instagram: Mifokko <br>
            Youtube: mifokko <br>
            <br>
            <br>
            <strong>Acerca de MIFOKKO</strong> <br>
            Version 1.0.1 <br>
            año 2022 <br>
        </p>
    </div>
</div>