<div class="modal-header">
    <h5 class="modal-title">Información</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
</div>
<div class="modal-body">
    <p>Celular: 3300000000 <br>
        Correo: tecnologia@goldtech.com.co <br>
        WhatsApp:  30000000 <br>
        Facebook: Mifokko <br>
        Instagram: Mi fokko <br>
        Youtube: mi fokko <br>
        <br>
        <br>
        <strong>Acerca de MI FOKKO</strong> 
        Version 1.0.0 <br>
        año 2022 <br>
        Codigo  (julian) <br>
        </p>
</div>
