.bg-blanco {
    background-image: url(https://github.com/mifokko/webMifokko/blob/master/src/assets/FondoBlanco.jpg?raw=true);
    background-size: cover;
    background-position: center;
}

.tamaño {
  font-size: 11px;
}

.nav-link {
  color: darkslategray;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//------------------------------------------------------------------------------------------
// Botón agregar 
//------------------------------------------------------------------------------------------

.agregar img {
  position: absolute;
  left: 60%;
  top: 40%;
}

//------------------------------------------------------------------------------------------
// Portada por defecto
//------------------------------------------------------------------------------------------

.img{
  border-radius: 1rem;
  width:100%;
  height:250px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url(https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg);
  background-size: cover;
  }
.img img{
  width: 100%;
}
@media all and (min-width: 500px) and (max-width: 1000px)
{  
.img{
  border-radius: 1rem;
  width:100%;
  height:300px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background:url(https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg);
  background-size: cover;
  
  }
}
.img img{
   width:100%;
}


//------------------------------------------------------------------------------------------
// Portada Imagen E-I-O
//------------------------------------------------------------------------------------------
.img2{
  border-radius: 1rem;
  width:100%;
  height:250px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  }
.img2 img{
  width: 50%;
}
@media all and (min-width: 500px) and (max-width: 1000px)
{  
.img2{
  border-radius: 1rem;
  width:100%;
  height:300px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  
  }
}
.img2 img{
   width:100%;
}


//------------------------------------------------------------------------------------------
// Perfil imagen E-I-O
//------------------------------------------------------------------------------------------

.img1{
  margin-top: -25px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.3));
  width:100px;
  height:100px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  }
.img1 img{
  width: 100%;
}
@media all and (min-width: 500px) and (max-width: 1000px)
{  
.img1{
  width:80px;
  height:80px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
  background-size: cover;
  
  }
}
.img1 img{
   width:100%;
}

//---------------------------------------------------------------------------------------------
// Letreros
//---------------------------------------------------------------------------------------------

div .tamA h5 {
  font-size: medium;
  font-weight: bold;
  //color: #de8f4d;
  color: #ea924a;
}


//---------------------------------------------------------------------------------------------
// Galeria 
//---------------------------------------------------------------------------------------------

.galeria img {
  box-shadow: 0 8px 10px -4px rgba(0,0,0,0.6); 
  border-radius: 10px;
}


/* 1 columna para smartphones */
.breakpoint  {
  max-width: 15%;
  display: grid;
  
}
  /* 2 columnas para tablets */
@media (min-width: 420px) {
  .breakpoint  {
    max-width: 50%;
  }
}
  /* 4 columnas para grandes dispositivos*/
@media (min-width: 760px) {
  .breakpoint  {
    max-width: 50%;
  }
}


//---------------------------------------------------------------------------------------------
// Galeria Subir archivos
//---------------------------------------------------------------------------------------------

div #div_file{
  position: relative;
  padding: 10px;
  width: 200px;
  height: 45px;
  background-color: steelblue;
  border-radius: 10px;
  box-shadow: 0px 3px 0px #1a71a9;
}
