<!--Perfil Oferta-->
<section class="bg-blanco">
    <!--<img src="./assets/FondoBlanco.jpg" class="img-responsive" alt="Responsive image" style="position: absolute; right: 0; top: 0; left: 0; z-index: -100;" height="100%" width="100%">
    -->
    <!--Header perfil-->
    <section>
        <!--Imagen de portada por defecto-->
        <div class="img" *ngIf="fotoPor === false">
        </div>


        <!--Imagen de portada seleccionada por la empresa-->
        <div class="img2" *ngIf="fotoPor === true">
            <img [src]="portadaSafe" class="img2">
        </div>

        <!---Imagen de perfil-->
        <div class="img1" style="position: absolute; right: 5%;" *ngIf="fotoP === false">
            <!---Imagen de perfil por defecto-->
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                class="rounded-circle img1" alt="...">
        </div>

        <!---Imagen de perfil seleccionada por la empresa-->
        <div class="img1" style="position: absolute; right: 5%;" *ngIf="fotoP === true">
            <img [src]="perfilSafe" class="rounded-circle img1" alt="..." *ngIf="fotoP === true">
        </div>

        <!--Nombre Oferta-->
        <div class="container my-1" *ngIf="oferta">
            <h2 class="titulo">{{oferta.nombreOferta}}</h2>
        </div>

        <!--Barra informacion de perfil-->
        <ul class="nav nav-tabs mt-3 justify-content-center" id="myTab" role="tablist">
            <!-- Información -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tamaño active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info"
                    type="button" role="tab" aria-controls="info" aria-selected="true">
                    <span class="center"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg></span>
                    Info</a>
            </li>
            <!-- Galeria -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tamaño" id="galeria-tab" data-bs-toggle="tab" data-bs-target="#galeria" type="button"
                    role="tab" aria-controls="galeria" aria-selected="false">
                    <span class="center"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-images" viewBox="0 0 16 16">
                            <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                            <path
                                d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                        </svg> </span>
                    Galeria</a>
            </li>
            <!-- Contacto -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tamaño" id="contacto-tab" data-bs-toggle="tab" data-bs-target="#contacto"
                    type="button" role="tab" aria-controls="contacto" aria-selected="false">
                    <span class="center"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        </svg></span>
                    Contacto</a>
            </li>
            <!-- Comentario -->
            <li class="nav-item" role="presentation">
                <a class="nav-link tamaño" id="comentarios-tab" data-bs-toggle="tab" data-bs-target="#comentarios"
                    type="button" role="tab" aria-controls="comentarios" aria-selected="false">
                    <span class="center"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg></span>
                    Comentario</a>
            </li>
        </ul>
    </section>

    <!--Pestañas del Menú-->
    <section class="tab-content bg-blanco" *ngIf="oferta">
        <!--Informacion-->
        <div class="tab-pane fade show active mt-3" id="info" role="tabpanel" aria-labelledby="info-tab">
            <div class="container tamA">
                <h5>DESCRICIÓN</h5>
                <p>{{oferta.descripcion}}</p>
                <h5>PRECIO: </h5>
                <p>{{oferta.precio}}</p>
                <h5>TIEMPO DE LA OFERTA:</h5>
                <p> Termina en {{fecha}}</p>
                <h5>DOMICILIOS:</h5>
                <p>{{oferta.domicilio}}</p>
                <h5>CIUDAD:</h5>
                <p>{{oferta.ciudad}}</p>
                <h5>ALCANCE:</h5>
                <p> {{oferta.alcance}} </p>
            </div>
        </div>

        <!--Galeria-->
        <div class="tab-pane fade mt-3" id="galeria" role="tabpanel" aria-labelledby="galeria-tab">
            <!-- Subir Imagenes de la galeria -->
            <form *ngIf="rol === 'empresa' && login === true && galeria === false">
                <div class="input-group center col-lg-4 col-sx-6 col-md-4" id="div_file" style="margin-left: 60px;">
                    <p id="textos" style="color: white; text-align: center;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                            class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2z" />
                            <path
                                d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                        </svg> Elegir Imágenes
                        <input #imagenesGaleria id="btn-enviar" type="file" accept="image/*" multiple
                            style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; opacity: 0; margin-top: -10px;"
                            (change)="onUploadGaleria($event)" name="imagenesGaleria">
                        <input #imageGallery type="hidden" [value]="urlImage| async">
                    </p>
                </div>
                <div class="progress mt-2 form-group col-md-4">
                    <div class="progress-bar progress-bar-striped" role="progressbar"
                        [style.width]="(uploadPercent | async) + '%'">
                    </div>
                </div>
            </form>

            <!-- Mostrar imágenes y video de la galeria -->
            <div class="container mt-2">
                <!-- <youtube-player videoId="{{empresa.youtubeVideo}}" *ngIf="video === true" [height]="220" [width]="360" class="col-lg-4 col-md-4 col-sx-12 mb-4"></youtube-player> -->
                <div class="row galeria" gallerize="gallery-1">
                    <div class="col-lg-4 col-md-4 col-sx-12 mb-4" *ngFor="let img of imageData; index as i">
                        <img class="img-fluid" [src]="img.srcUrl">
                    </div>
                </div>
            </div>
        </div>

        <!--Contacto-->
        <div class="tab-pane fade mt-3 mb-3" id="contacto" role="tabpanel" aria-labelledby="contacto-tab">
            <div class="container tamA">
                <h5>REDES SOCIALES</h5>
                <div class="container">
                    <div class="row" *ngIf=" network || empresa || independiente">
                        <div class="form-group col-md-1 col-ms-1 col" *ngIf="red === 'mostrar' && network.youtube.length !== 0">
                            <a [href]="youtubeSafe" target="_blank">
                                <img src="./assets/Logo_Youtube.png" class="img-fluid" alt="logo_Youtube">
                            </a>
                        </div>
                        <div class="form-group col-md-1 col" *ngIf="red === 'mostrar' && network.instagram.length !== 0">
                            <a [href]="instagramSafe" target="_blank">
                                <img src="./assets/Logo_Instagram.png" class="img-fluid" alt="logo_Instagram">
                            </a>
                        </div>
                        <div class="form-group col-md-1 col" *ngIf="red === 'mostrar' && network.facebook.length !== 0">
                            <a [href]="facebookSafe" target="_blank">
                                <img src="./assets/Logo_Facebook.png" class="img-fluid" alt="logo_Facebook">
                            </a>
                        </div>
                        <div class="form-group col-md-1 col" *ngIf="red === 'mostrar' && network.whatsapp.length !== 0">
                            <a href="https://wa.me/{{network.whatsapp}}" target="_blank">
                                <img src="./assets/Logo_Whatsapp.png" class="img-fluid" alt="logo_Whatsapp">
                            </a>
                        </div>
                        <div class="form-group col-md-1 col" *ngIf="mostrar === true && celularG.length !==  0">
                            <a>
                                <img src="./assets/Logo_Telefono.png" class="img-fluid" alt="logo_telefono"
                                    (click)="telefono = !telefono">
                            </a>
                            <p *ngIf="telefono" (tapClick)="telefono = false">{{celularG}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Comentarios-->
        <div class="tab-pane fade mt-3" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
            <div class="container tamA">
                <h5>COMENTARIOS</h5>
                <div class="container">
                    <div class="mb-3" *ngFor="let chats of chat">
                        <p>{{chats.nombre}}: {{chats.comentario}}</p>
                    </div>
                </div>
                <!-- <div class="container" *ngIf="rol === 'general' || login === false">
                    <form #comentariosForm="ngForm" (ngSubmit)="saveComentarios(comentariosForm)">
                        <div class="col-md-6 col-sx-12 col-lg-6 b-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre Usuario</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nombre"
                                [(ngModel)]="comentarios.nombre" name="nombre">
                        </div>
                        <div class="col-md-6 col-sx-12 col-lg-6 mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                [(ngModel)]="comentarios.comentario" name="comentario"></textarea>
                        </div>
                        <div class="col-md-6 col-sx-12 col-lg-6 mb-3">
                            <button type="submit" class="btn btn-primary rounded-pill"
                                value="Save Comentarios">Enviar</button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>

    </section>
</section>